:root {
  --accent-color: var(--purple-5);
  --accent-bg-color: var(--purple-3);
}

#details_view {
    background-color: white;
}

#details_view_play_button {
    color: white;
    background-color: rgba(0, 0, 0, .8);
}
