@define-color accent_color @purple_5;
@define-color accent_bg_color @purple_3;

#details_view {
    background-color: white;
}

#details_view_play_button {
    color: white;
    background-color: rgba(0, 0, 0, .8);
}