@define-color accent_color @purple_5;
@define-color accent_bg_color @purple_3;

#details_view {
    background-color: white;
}

#details_view_play_button {
    color: @light_1;
    background-color: @dark_5;
    opacity: 0.8;
}

/* This is to hide a weird GdkPixbuf upscaling glitch */
#details_view_blurred_cover {
    transform: scale(1.2);
}