:root {
  --accent-bg-color: var(--accent-purple);
}

#grid {
  padding: 6px 12px 12px;
}

#grid > child {
  padding: 12px;
  border-radius: 24px;
}

#game-item button {
  color: white;
  backdrop-filter: blur(9px) brightness(30%) saturate(600%);
  box-shadow:
    0 0 0 1px rgb(from currentcolor r g b / 10%) inset,
    0 1px rgb(from currentcolor r g b / 30%) inset;
}

#details {
  --accent-fg-color: var(--view-bg-color);
  --accent-bg-color: var(--view-fg-color);
  --accent-color: oklab(
    from var(--accent-bg-color) var(--standalone-color-oklab)
  );
}

#details list {
  background: rgb(from var(--card-bg-color) r g b / 20%);
}

#background {
  filter: saturate(300%) opacity(50%);
}

@media (prefers-contrast: more) {
  #game-item button {
    backdrop-filter: blur(9px) brightness(20%) saturate(600%);
  }

  #background {
    filter: saturate(300%) opacity(20%);
  }
}
